.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  width: 400px;
  height: fit-content;
  border: 1px solid #082229;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 10px 5px 5px rgba(217, 104, 11, 0.562);
}
.homework20-wrapper {
  display: flex;
  flex: 1;
  padding: 50px;
}

.card-info-name {
  font-weight: bold;
}

.card-info {
  display: flex;
  gap: 5px;
  font-size: 20px;
}

.langs-list {
  margin-left: 20px;
}
.program-lang {
  font-size: 18px;
}
